<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザ管理画面</title>
</head>

<body>
	<h1>ユーザー管理</h1>

	<fieldset>
		<div class="form-group">
			<label>ユーザー名:</label>
			<div class="col-1">
				<input type="text" />
				<input type="submit" class="btn" value="検索">
			</div>
		</div>
		
		<hr>
		
		<div class="form-group">
			<label>ユーザID:</label>
			<p>123456789</p>
		</div>
		</div>
		<div class="form-group">
			<label>パスワード:</label>
			<div class="col-1">
				<input type="text" />
			</div>
		</div>
		<div class="form-group">
			<label>権限:</label>
			<div class="col-1">
				<input type="text" />
			</div>
		</div>
		<div class="form-group">
			<label>利用開始日:</label>
			<div class="col-1">
				<input type="text" />
			</div>
		</div>

	</fieldset>

</body>

</html>