<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	

	<title>勤怠登録画面</title>
</head>

<body>

	<!--	<script th:src="@{/js/attendance.js}"></script>-->
	<div class="container">
		<div class="component">
			<p>ユーザ名: <span th:text="${loginUser.name}"></span></p>
			<p>ユーザID: <span th:text="${loginUser.userId}"></span></p>
			<p th:if="${session.loginUser.role == '0003' || session.loginUser.role == '0004'}">ステータス:<span th:text="${statusMessage}"></span></p>
		</div>

		<form id="attendanceForm" th:action="@{/attendance/regist}" method="post" th:object="${formList}">
			<div style="display: flex; align-items: center;"  th:if="${session.loginUser.role == '0003' || session.loginUser.role == '0004'}">
				<label>表示年月：</label>

				<select name="year">
					<option value="" th:text="'選択してください'" th:selected="${selectedYear == null}"></option>
					<option th:each="year : ${#numbers.sequence(2023, 2025)}" th:value="${year}" th:text="${year}"
						th:selected="${year == selectedYear}"></option>
				</select>
				<p for="year">年</p>

				<select name="month">
					<option value="" th:text="'選択してください'" th:selected="${selectedMonth == null}"></option>
					<option th:each="month : ${#numbers.sequence(1, 12)}" th:value="${month}" th:text="${month}"
						th:selected="${month == selectedMonth}"></option>
				</select>
				<p for="month">月</p>

				<button type="submit" name="display">表示</button>
			</div>
		</form>
		<div th:if="${errorMessage}" class="error" role="alert">
			<p th:text="${errorMessage}"></p>
		</div>




		<table class="table data-table" th:if="${session.loginUser.role == '0002'}">
			<thead>
				<tr>
					<th class="w150">承認申請者</th>
					<th class="w120">申請対象年月</th>
					<th class="w120">申請日</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="monthlyAttendanceDto : ${monthlyAttendanceDtoList}">
					 <td class="w150">
                <form th:action="@{/attendance/regist}" method="post">
                    <input type="hidden" name="user" th:value="${monthlyAttendanceDto.userId}" />
                    <input type="hidden" name="selectYear" th:value="${monthlyAttendanceDto.year}" />
                    <input type="hidden" name="selectMonth" th:value="${monthlyAttendanceDto.month}" />
                    <button type="submit" name="attendance" value="submit" class="hidden-button">
                        [[${monthlyAttendanceDto.name}]]
                    </button>
                </form>
            </td>
					<td class="w120">
						[[${#dates.format(monthlyAttendanceDto.targetYearMonth, "yyyy年M月d日")}]]
					</td>
					<td class="w120">
						[[${#dates.format(monthlyAttendanceDto.date, "yyyy年M月d日")}]]
					</td>
				</tr>
			</tbody>
		</table>
		
		
		
		<form id="attendanceForm" th:action="@{/attendance/regist}" method="post" onsubmit="return validateForm();">

			<div style="display: flex; justify-content: flex-end;">
				<input type="submit" value="却下" class="btn btn-mgmt" th:if="${session.loginUser.role == '0002'}" name="reject" />
				<input type="submit" value="承認" class="btn btn-mgmt" th:if="${session.loginUser.role == '0002'}" name="approval" />
				<input type="submit" value="承認申請" class="btn btn-mgmt" style="margin-right: 10px;" th:if="${session.loginUser.role == '0004'}" name="apprication" 
				th:disabled="${isDisabled1 == true or isDisabled2 == true}"/>
				<input type="hidden" name="year" th:value="${param.year}" />
				<input type="hidden" name="month" th:value="${param.month}" />
				<input type="submit" value="登録" name="insert" class="btn btn-mgmt" th:if="${session.loginUser.role == '0003' || session.loginUser.role == '0004'}" />
			</div>
			
			<div th:if="${successMessage}" class="success" role="alert">
				<p th:text="${successMessage}"></p>
			</div>
			<div th:if="${rejectMessage}" class="success" th:utext="${rejectMessage}"></div>
			<div th:if="${approvalMessage}" class="success" th:utext="${approvalMessage}"></div>
        
        <div th:if="${message}" class="success" th:utext="${message}" ></div>
			
			<div class="table-container">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="w40">日付</th>
							<th class="w40">曜日</th>
							<th class="w100">勤務状況</th>
							<th class="w120">出勤時間</th>
							<th class="w120">退勤時間</th>
							<th class="w150">備考</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="form, stat : ${attendanceFormList.attendanceFormList}">
							<td class="w40">
								<input type="hidden" th:name="|attendanceFormList[${stat.index}].date|" th:value="${form.date}" />
								<span th:text="${form.formattedDate}"></span>
							</td>
							<td class="w40" th:text="${form.formattedWeek}">
							</td>
							<td class="w100">
								<select th:name="|attendanceFormList[${stat.index}].status|" th:disabled="${isDisabled1 == true or isDisabled2 == true}">
									<option value="null" th:text="'選択してください'"></option>
									<option value="0" th:selected="${form.status == 0}">通常出勤</option>
									<option value="1" th:selected="${form.status == 1}">休日</option>
									<option value="2" th:selected="${form.status == 2}">祝日</option>
									<option value="3" th:selected="${form.status == 3}">遅刻</option>
									<option value="4" th:selected="${form.status == 4}">有給</option>
									<option value="5" th:selected="${form.status == 5}">欠勤</option>
									<option value="6" th:selected="${form.status == 6}">早退</option>
									<option value="7" th:selected="${form.status == 7}">時間外勤務</option>
									<option value="8" th:selected="${form.status == 8}">振替出勤</option>
									<option value="9" th:selected="${form.status == 9}">振替休日</option>
									<option value="10" th:selected="${form.status == 10}">代替出勤</option>
									<option value="11" th:selected="${form.status == 11}">代替休日</option>
								</select>
								<input type="hidden" th:name="|attendanceFormList[${stat.index}].status|" th:value="${form.status}" />
							</td>
							<td class="w120">
						
								<select th:name="|attendanceFormList[${stat.index}].startHour|" th:disabled="${isDisabled1 == true or isDisabled2 == true}">
						
									<option value="" th:text="--"
										th:selected="${form.startHour == null || form.startHour.isEmpty() || form.startHour == '0'}"></option>
						
									<option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
										th:selected="${form.startHour != null && !form.startHour.isEmpty() && form.startHour != '0' && form.startHour == hour}">
									</option>
								</select>
								:
						
								<select th:name="|attendanceFormList[${stat.index}].startMinute|" th:disabled="${isDisabled1 == true or isDisabled2 == true}">
						
									<option value="" th:text="--"
										th:selected="${form.startMinute == null || form.startMinute.isEmpty() || form.startMinute == '0'}">
									</option>
						
									<option th:each="minute : ${minutes}" th:value="${minute}" th:text="${minute}"
										th:selected="${form.startMinute != null && !form.startMinute.isEmpty() && form.startMinute != '0' && form.startMinute == minute}">
									</option>
								</select>
						
								<input type="hidden" th:name="|attendanceFormList[${stat.index}].startTime|" th:value="${form.startTime}"/>
							</td>
							<td class="w120">
								<select th:name="|attendanceFormList[${stat.index}].endHour|" th:disabled="${isDisabled1 == true or isDisabled2 == true}">
						
									<option value="" th:text="--"
										th:selected="${form.endHour == null || form.endHour.isEmpty() || form.endHour == '0'}"></option>
						
									<option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
										th:selected="${form.endHour != null && !form.endHour.isEmpty() && form.endHour != '0' && form.endHour == hour}">
									</option>
								</select>
								:
						
								<select th:name="|attendanceFormList[${stat.index}].endMinute|" th:disabled="${isDisabled1 == true or isDisabled2 == true}">
						
									<option value="" th:text="--"
										th:selected="${form.endMinute == null || form.endMinute.isEmpty() || form.endMinute == '0'}" th:disabled="${isDisabled1 == true or isDisabled2 == true}"></option>
						
									<option th:each="minute : ${minutes}" th:value="${minute}" th:text="${minute}"
										th:selected="${form.endMinute != null && !form.endMinute.isEmpty() && form.endMinute != '0' && form.endMinute == minute}" th:disabled="${isDisabled1 == true or isDisabled2 == true}">
									</option>
								</select>
								<input type="hidden" th:name="|attendanceFormList[${stat.index}].endTime|" th:value="${form.endTime}" />
							</td>
							<td class="w150">
								<input type="text" id="remarks" th:name="|attendanceFormList[${stat.index}].remarks|" th:value="${form.remarks}"
									placeholder="備考を入力してください" pattern="[\u3040-\u30FF\u4E00-\u9FFF\uFF00-\uFFEF]{1,20}"
									title="全角文字で20文字以内で入力してください" th:disabled="${isDisabled1 == true or isDisabled2 == true}"/>
							</td>
							<input type="hidden" th:name="|attendanceFormList[${stat.index}].userId|" th:value="${form.userId}" />
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>


</body>

</html>