@charset "UTF-8";

.btn-login {
	margin: 0 auto;
	padding: 15px 100px;
	/* パディング */
	background-color: #DCDCDC;
	/* ボタンの背景色 */
	color: #fff;
	/* テキストの色 */
	border: none;
	/* ボーダーなし */
	cursor: pointer;
}

.btn-login:hover {
	background-color: #F0E68C;
	/* ホバー時の背景色 */
}

.btn-mgmt {
	margin: 30px;
	padding: 6px 25px;
	/* パディング */
	background-color: #DCDCDC;
	/* ボタンの背景色 */
	color: #fff;
	/* テキストの色 */
	border: none;
	/* ボーダーなし */
	cursor: pointer;
}

.btn-mgmt:hover {
	background-color: #F0E68C;
	/* ホバー時の背景色 */
}

fieldset {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 70%;
	padding: 30px;
	border: 2px solid #ccc;
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.form-group {
	display: flex;
	margin-bottom: 1rem;
	
	
}

label {
	margin-right: 15px;
	font-weight: bold;
	font-size: 20px;
}




hr{
    height: 5px;
    width: 90%;
    background-color: steelblue;
}