@charset "UTF-8";

body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}


.container {
	justify-content: center;
	align-items: center;
	height: 100%
	;
}
.component {
	justify-content: center;
	display: flex;
}

.component p {
	margin-right: 100px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

table {
  background-color: transparent;
}

.table-container {
    display: flex;
    justify-content: center; /* 横方向に中央配置 */
    align-items: center;     /* 縦方向に中央配置 */
    overflow: hidden; /* コンテナ内でのスクロールを防ぐ */
}

.table-hover {
    display: block; /* テーブル全体をブロック表示 */
    max-width: 100%; /* テーブルの最大幅を親要素に合わせる */
    overflow-x: auto; /* 横方向のスクロールを可能にする */
}

th, td {
	padding: 12px;
	text-align: center;
}

 .table th,
.table td {
	padding: 12px;
    text-align: center;
   vertical-align: middle;
    border-top: 1px solid #ddd;
}

  .w40 {
	width: 40px;
}

.w100 {
	width: 100px;
}

.w120,
.w120 th,
.w120 td {
	width: 120px;
}


.w150,
.w150 th,
.w150 td {
	width: 150px;
}


.btn-login {
	margin: 0 auto;
	padding: 15px 100px;
	/* パディング */
	background-color: #DCDCDC;
	/* ボタンの背景色 */
	color: #fff;
	/* テキストの色 */
	border: none;
	/* ボーダーなし */
	cursor: pointer;
	border-radius: 10px;
}

.btn-login:hover {
	background-color: #F0E68C;
	/* ホバー時の背景色 */
}

.btn-mgmt {
	margin: 30px;
	padding: 6px 25px;
	/* パディング */
	background-color: #DCDCDC;
	/* ボタンの背景色 */
	color: #fff;
	/* テキストの色 */
	border: none;
	/* ボーダーなし */
	cursor: pointer;
	border-radius: 10px;
}

.btn-mgmt:hover {
	background-color: #F0E68C;
	/* ホバー時の背景色 */
}

.btn-mgmt-regist {
	margin: 30px;
	padding: 6px 25px;
	/* パディング */
	background-color: #DCDCDC;
	/* ボタンの背景色 */
	color: #fff;
	/* テキストの色 */
	border: none;
	/* ボーダーなし */
	cursor: pointer;
	border-radius: 10px;
	justify-content: flex-end !important;
}

.btn-default {
	color: #ffffff;
	background-color: #2fa4e7;
	border-color: #2fa4e7; 
	padding: 10px 30px;
	font-size: 16px;
	border-radius: 10px;
}

.hidden-button{
	border: none; /* 枠線を非表示にする */
    background: none; /* 背景色を透明にする */
    font-size: 20px;
    cursor: pointer; /* カーソルをポインタにする */
    border-bottom:1px solid #2fa4e7;
}

fieldset {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 70%;
	padding: 30px;
	border: 2px solid #ccc;
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.management{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	min-height: 400px;
	width: 70%;
	padding: 30px;
	border: 2px solid #ccc;
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.textbox {
	height: 25px;	
}

.form-group {
	display: flex;
	margin-bottom: 1rem;
}

label {
	margin-right: 15px;
	font-weight: bold;
	font-size: 20px;
}

.error {
	color: red;
	text-align: center;
}

.success {
	color: mediumblue;
	text-align: center;
}




hr{
    height: 3px;
    width: 95%;
    background-color: steelblue;
}