@charset "UTF-8";

body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}


.container {
	justify-content: center;
	align-items: center;
	height: 100%;
	display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}
.component {
	justify-content: center;
	display: flex;
}

.component p {
	margin-right: 100px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

table {
  background-color: transparent;
  border-collapse: collapse;
}

.table-container {
	max-height: 600px; /* 必要に応じて高さを調整 */
	flex: 1; /* テーブルコンテナを利用可能なスペースに合わせる */
    overflow: auto; /* スクロール可能にする */
	max-width: 100%; /* テーブルの最大幅を親要素に合わせる */
   display: block; /* テーブルをブロック要素として表示 */
    justify-content: center; /* 横方向に中央配置 */
    align-items: center;     /* 縦方向に中央配置 */
    border: 1px solid #ddd; /* テーブル全体の外枠に罫線を追加 */
    border-radius: 7px; /* 角の丸みを設定 (任意) */
}



/* テーブルヘッダーを固定 */
.table-hover thead {
    position: sticky;
    top: 0; /* 上部に固定 */
    background-color: #ddd; /* ヘッダーの背景色 */
    z-index: 1; /* ヘッダーがテーブルボディの上に表示されるように設定 */
}

.table-hover thead th {
    border: 1px solid #ddd; /* 上下左右に罫線を追加 */
    padding: 8px; /* パディングを追加 */
}

.table-hover tbody td {
    border: 1px solid #ddd; /* 上下左右に罫線を追加 */
    padding: 10px; /* パディングを追加 */
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1; /* 行がホバーされたときの背景色 */
}

th, td {
	padding: 12px;
	text-align: center;
}

 .table th,
.table td {
	padding: 12px;
    text-align: center;
   vertical-align: middle;
    border-top: 1px solid #ddd;
}

  .w40 {
	width: 40px;
}

.w100 {
	width: 100px;
}

.w120,
.w120 th,
.w120 td {
	width: 120px;
}


.w150,
.w150 th,
.w150 td {
	width: 150px;
}

.danger {
	border: 1px solid red;
	background-color: lightpink;
}

.btn-login {
	margin: 0 auto;
	padding: 15px 100px;
	/* パディング */
	background-color: #F0E68C;
	/* ボタンの背景色 */
	color: #fff;
	/* テキストの色 */
	border: none;
	/* ボーダーなし */
	cursor: pointer;
	border-radius: 10px;
}

.btn-mgmt {
	margin: 30px;
	padding: 6px 25px;
	/* パディング */
	background-color: #F0E68C;
	/* ボタンの背景色 */
	color: #fff;
	/* テキストの色 */
	border: none;
	/* ボーダーなし */
	cursor: pointer;
	border-radius: 10px;
}

.btn-active {
	background-color: #F0E68C;
	/* ホバー時の背景色 */
}
.btn-disabled {
   background-color: #DCDCDC;
    cursor: not-allowed;
}

.btn-mgmt-regist {
	margin: 30px;
	padding: 6px 25px;
	/* パディング */
	background-color: #F0E68C;
	/* ボタンの背景色 */
	color: #fff;
	/* テキストの色 */
	border: none;
	/* ボーダーなし */
	cursor: pointer;
	border-radius: 10px;
	justify-content: flex-end !important;
}


.btn-default {
	color: #ffffff;
	background-color: #2fa4e7;
	border-color: #2fa4e7; 
	padding: 10px 30px;
	font-size: 16px;
	border-radius: 10px;
}

.hidden-button{
	border: none; /* 枠線を非表示にする */
    background: none; /* 背景色を透明にする */
    font-size: 20px;
    cursor: pointer; /* カーソルをポインタにする */
    border-bottom:1px solid #2fa4e7;
}

fieldset {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 700px;
	padding: 30px;
	border: 2px solid #ccc;
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.management{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	min-height: 400px;
	width: 70%;
	padding: 30px;
	border: 2px solid #ccc;
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.textbox {
	height: 25px;	
}

.form-group {
	display: flex;
	margin-bottom: 1rem;
}

label {
	margin-right: 15px;
	font-weight: bold;
	font-size: 20px;
}

.error {
	color: red;
	text-align: center;
}

.success {
	color: mediumblue;
	text-align: center;
}


hr{
    height: 3px;
    width: 95%;
    background-color: steelblue;
}