<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AttendanceMapper">

	
	<select id="findByAttendanceDate" resultType="com.example.demo.entity.AttendanceUser">
		SELECT *
		FROM attendence
		WHERE user_id = #{userId}
			AND date = #{date}
	</select>
	
	<select id="findByAttendanceYearMonth" resultType="com.example.demo.entity.AttendanceUser">
    SELECT *
    FROM attendance
    WHERE user_id = #{userId}
    	AND YEAR(date) = #{year}
    	AND MONTH(date) = #{month}
	</select>
	
	<insert id="insertAttendance" parameterType="com.example.demo.entity.AttendanceUser" useGeneratedKeys="true" keyProperty="attendanceId">
		INSERT INTO attendance
		(
			user_id,
			status,
			date,
			start_time,
			end_time,
			remarks
		) VALUES (
			#{userId},
			#{status},
			#{date},
			#{startTime},
			#{endTime},
			#{remarks}
		)
	</insert>
	
	<update id="updateAttendance" parameterType="com.example.demo.entity.AttendanceUser">
		UPDATE attendance
		SET 
			status = #{status},
			start_time = #{startTime},
			end_time = #{endTime},
			remarks = #{remarks}
		WHERE attendance_id = #{attendanceId}
	</update>
	
	<delete id="deleteAttendance" parameterType="com.example.demo.entity.AttendanceUser">
		DELETE
		FROM attendance
		WHERE
			user_id = #{userId}
			AND date = #{date}
	</delete>

</mapper>