<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AttendanceMapper">

	<select id="findByAttendanceUserId" resultType="com.example.demo.entity.AttendanceUser">
		SELECT  *
		FROM attendance
		WHERE user_id = #{userId}
	</select>
	
	<select id="findByAttendanceDate" resultType="com.example.demo.entity.AttendanceUser">
		SELECT *
		FROM attendence
		WHERE user_id = #{userId}
			AND date = #{date}
	</select>
	
	
	<select id="findByAttendanceYearMonth" resultType="com.example.demo.dto.AttendanceDto">
    SELECT
    	user_id as userId,
    	status,
    	date,
    	start_time as startTime,
    	end_time as endTime,
    	remarks
    FROM attendance
    WHERE user_id = #{userId}
      AND YEAR(date) = #{year}
      AND MONTH(date) = #{month}
	</select>

</mapper>