<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AttendanceMapper">

	
	<select id="findByAttendanceDate" resultType="com.example.demo.entity.AttendanceUser">
		SELECT *
		FROM attendence
		WHERE user_id = #{userId}
			AND date = #{date}
	</select>
	
	<select id="findByAttendanceYearMonth" resultType="com.example.demo.entity.AttendanceUser">
    SELECT *
    FROM attendance
    WHERE user_id = #{userId}
    	AND YEAR(date) = #{year}
    	AND MONTH(date) = #{month}
	</select>
	
	<insert id="insertAttendance" parameterType="com.example.demo.entity.AttendanceUser" useGeneratedKeys="true" keyProperty="attendanceId">
		INSERT INTO attendance
		(
			user_id,
			status,
			date,
			start_time,
			end_time,
			remarks
		) VALUES (
			#{userId},
			#{status},
			#{date},
			#{startTime},
			#{endTime},
			#{remarks}
		)
	</insert>
	
	<update id="updateAttendance" parameterType="com.example.demo.entity.AttendanceUser">
		UPDATE attendance
		SET 
			status = #{status},
			start_time = #{startTime},
			end_time = #{endTime},
			remarks = #{remarks}
		WHERE attendance_id = #{attendanceId}
	</update>
	
	<delete id="deleteAttendance" parameterType="com.example.demo.entity.AttendanceUser">
		DELETE
		FROM attendance
		WHERE
			user_id = #{userId}
			AND date = #{date}
	</delete>
	
	<select id="findMonthlyAttendanceByUserAndMonth" parameterType="com.example.demo.entity.MonthlyAttendance">
		SELECT * 
		FROM monthly_attendance_req 
		WHERE user_id = #{userId} 
			AND target_year_month = #{targetYearMonth}
	</select>
	
	<select id="findMonthlyAttendanceByUserAndMonth2" parameterType="com.example.demo.dto.MonthlyAttendanceDto">
		SELECT *
		FROM monthly_attendance_req 
		WHERE user_id = #{userId} 
			AND target_year_month = #{targetYearMonth}
	</select>
	
	<insert id="appricationMonthlyAttendance" parameterType="com.example.demo.entity.MonthlyAttendance"  useGeneratedKeys="true" keyProperty="userId">
		INSERT INTO monthly_attendance_req 
		(
			 user_id, 
			 target_year_month, 
			 date, 
			 status 
		) VALUES ( 
			 #{userId}, 
			 #{targetYearMonth}, 
			 #{date}, 
			 #{status} 
		) 
	</insert> 
	
	<update id="update" parameterType="com.example.demo.entity.MonthlyAttendance">
	
	 	UPDATE monthly_attendance_req 
	 	SET 
	 		id = #{id},
	 		user_id = #{userId}, 
	 		target_year_month = #{targetYearMonth}, 
	 		date = #{date}, 
	 		status = #{status} 
	</update>
	
	<select id="monthlyAttendanceReqList" resultType="com.example.demo.dto.MonthlyAttendanceDto">
		SELECT
			t1.user_id,
			t1.target_year_month,
			t1.date,
			t1.status,
			t2.name
		FROM monthly_attendance_req t1
			INNER JOIN users t2 ON t1.user_id = t2.user_id
		WHERE 
			  t1.status = 1; 
	</select>
	
	
	

</mapper>